<h4>Histórico</h4>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Abertas por data
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Última semana</a>
            <a class="dropdown-item" href="#">Do mês</a>
            <a class="dropdown-item dropdown-toggle" href="#" id="subMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meses
            </a>
            <div class="dropdown-menu" aria-labelledby="subMenuDropdown" style="margin: -9px 0 0 20px;">
                <a class="dropdown-item" href="#">Janeiro</a>
                <a class="dropdown-item" href="#">Fevereiro</a>
                <a class="dropdown-item" href="#">Março</a>
                <a class="dropdown-item" href="#">Abril</a>
                <a class="dropdown-item" href="#">Maio</a>
                <a class="dropdown-item" href="#">Junho</a>
                <a class="dropdown-item" href="#">Julho</a>
                <a class="dropdown-item" href="#">Agosto</a>
                <a class="dropdown-item" href="#">Setembro</a>
                <a class="dropdown-item" href="#">Outubro</a>
                <a class="dropdown-item" href="#">Novembro</a>
                <a class="dropdown-item" href="#">Dezembro</a>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Finalizas por data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Última semana</a>
              <a class="dropdown-item" href="#">Último mês</a>
              <a class="dropdown-item dropdown-toggle" href="#" id="subMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meses
            </a>
            <div class="dropdown-menu" aria-labelledby="subMenuDropdown" style="margin: -9px 0 0 20px;">
                <a class="dropdown-item" href="#">Janeiro</a>
                <a class="dropdown-item" href="#">Fevereiro</a>
                <a class="dropdown-item" href="#">Março</a>
                <a class="dropdown-item" href="#">Abril</a>
                <a class="dropdown-item" href="#">Maio</a>
                <a class="dropdown-item" href="#">Junho</a>
                <a class="dropdown-item" href="#">Julho</a>
                <a class="dropdown-item" href="#">Agosto</a>
                <a class="dropdown-item" href="#">Setembro</a>
                <a class="dropdown-item" href="#">Outubro</a>
                <a class="dropdown-item" href="#">Novembro</a>
                <a class="dropdown-item" href="#">Dezembro</a>
            </div>
            </div>
        </li>
         
         
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Nome, setor etc..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>

    </div>


</nav>





