<div>
  <h3>Reserva eventual</h3>

  <form (ngSubmit)="processForm()" [formGroup]="formValidation" #formDir="ngForm">


  <label for="responsavel">Nome</label> &nbsp;
  <input type="text" name="nome" formControlName="nome" required maxlength="40">

  <div *ngIf="nome!.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="nome.errors?.['required']" style="font-size: 0.8rem; color: tomato;">
      Nome obrigatório
    </p>
    <p *ngIf="nome.errors?.['minlength']" style="font-size: 0.8rem; color: tomato;">
      Descrição de nome inválido
    </p>
    <!-- <p *ngIf="nome.errors?.['maxlength']">Até 30 caracter</p> -->
  </div>

  <br>

  <label for="sobrenome">Sobrenome</label> &nbsp;
  <input #valid type="text" name="sobrenome" formControlName="sobrenome" required maxlength="40">

  <div *ngIf="sobrenome!.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="sobrenome.errors?.['required']" style="font-size: 0.8rem; color: tomato;">
      Sobrenome obrigatório
    </p>
    <p *ngIf="nome.errors?.['minlength']" style="font-size: 0.8rem; color: tomato;">
      Descrição de nome inválido
    </p>

  </div>

  <br>

  <label for="setor">Setor</label> &nbsp;
  <input #valid type="text" name="setor" formControlName="setor" required maxlength="40">
  <div *ngIf="setor!.invalid && formDir.submitted" class="validation-error">
    <p *ngIf="setor.errors?.['required']" style="font-size: 0.8rem; color: tomato;">
      Setor obrigatório
    </p>
    <!-- <p *ngIf="nome.errors?.['maxlength']">Até 30 caracter</p> -->
  </div>


  <br><br>

  <label for="dataRetirada">Data retirada:</label> &nbsp;
  <input #valid type="date" formControlName="dataRetirada" required> &nbsp;
  <div *ngIf="dataRetirada!.invalid && formDir.submitted" class="validation-error">
    <span *ngIf="dataRetirada.errors?.['required']" style="font-size: 0.8rem; color: tomato;">
      Insira a data de início da reserva
    </span>
    <!-- <p *ngIf="nome.errors?.['maxlength']">Até 30 caracter</p> -->
  </div>




  <label for="hr-agendamento">Horário retirada:</label>
  <select #valid name="horaRetirada"  formControlName="horaInicioSelect" required>
      <option name="horaRetirada" *ngFor="let option of optionsHours" [value]="option.valor">{{ option.descricao }}</option>
  </select>
  <div *ngIf="horaInicioSelect!.invalid && formDir.submitted" class="validation-error">
    <span *ngIf="horaInicioSelect.errors?.['required']" style="font-size: 0.8rem; color: tomato;">
      Insira o horário da retirada
    </span>
    <!-- <p *ngIf="nome.errors?.['maxlength']">Até 30 caracter</p> -->
  </div>



  <div class="row">
    <div class="col">

      <label for="dt-agendamento">Data devolução:</label> &nbsp;
      <input #valid style="margin-left: 1.06em;" type="date" name="dataDevolucao" formControlName="dataDevolucao" required> &nbsp;
      <div *ngIf="dataDevolucao!.invalid && formDir.submitted" class="validation-error">
        <span *ngIf="dataDevolucao.errors?.['required']" style="font-size: 0.8rem; color: tomato;">
          Insira a data de devolução da reserva
        </span>
        <!-- <p *ngIf="nome.errors?.['maxlength']">Até 30 caracter</p> -->
      </div>

      <!-- Validador de datas -->
      <!-- <div *ngIf="formValidation.controls['dataDevolucao'].value < formValidation.controls['dataRetirada'].value">
        <span style="font-size: 0.8rem; color: tomato;">
          A data de devolução não pode ser menor que a data de retirada
        </span>
      </div> -->


      <label for="hr-agendamento">Horário devolução:</label> &nbsp;
      <select #valid name="horaDevolucaoSelect" formControlName="horaDevolucaoSelect" required>
        <option name="horaDevolucao" *ngFor="let option of optionsHours" [value]="option.valor">{{ option.descricao }}</option>
      </select>
      <div *ngIf="horaDevolucaoSelect!.invalid && formDir.submitted" class="validation-error">
        <span *ngIf="horaDevolucaoSelect.errors?.['required']" style="font-size: 0.8rem; color: tomato;">
          Insira o horário da devolução
        </span>
        <!-- <p *ngIf="nome.errors?.['maxlength']">Até 30 caracter</p> -->
      </div>






      </div>
  </div>

  <table id="table-adicionar" >
    <tr>
      <td>
        <label for="equipamento">Equipamento</label>
        <select #equipamentoValid  name="equipamento" formControlName="equipamentoSelect"
        (change)="onDescricaoValorChange(equipamentoValid.options[equipamentoValid.selectedIndex].text)">
          <option value=""></option>
          <option *ngFor="let item of optionsListaEquipamento" [value]="item.valor" >
            {{ item.descricao }}</option>
        </select>
      </td>


      <td>
        <label for="quantidade">Quantidade</label>
        <select #quantidadeValid formControlName="quantidadeSelect" >
          <option name="selectedOptionListaQuantidade" *ngFor="let qtd of optionQuantidade" [value]="qtd.valor">{{ qtd.descricao }}</option>
        </select>
      </td>

      <td>
        <button (click)="adicionarEquipamento($event)">Adicionar</button>
      </td>

    </tr>

    <tr>
      <td colspan="3">
        <label for="">Outros equipamentos</label>
        <input type="text" formControlName="outros" id="">
        <input style="margin-left: 8pt;" type="checkbox" formControlName="habilitaOutros" maxlength="40">
        <label style="margin-left: 8pt;">Adicionar</label>
      </td>
    </tr>

  </table>





      <table id="table-equipamento">
        <thead>
          <th>Equipamento</th>
          <th>Quantidade</th>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <ul>
                <!-- template -->
                <li id="template-li" class="row"
                *ngFor="let equipamento of listaEquipamentoApresentacao; let i = index" [attr.data-id]="equipamento.id">
                  <td class="col">{{ equipamento.descricao }}</td>
                  <td class="col-6">
                    <div class="row justify-content-between">
                        <span>{{ equipamento.quantidade }}</span>
                        <span (click)="removerEquipamento($event)" class="delete">x</span>
                    </div>
                  </td>
                </li>
                <!-- template -->
              </ul>
            </td>
          </tr>
        </tbody>
      </table>


    <br><br>

   <button type="submit" style="width: 150px; margin-block-start: 50px;">Criar</button>


  </form>



</div>

<p>Teste</p>
<p>EQUIPAMENTO: </p>
<p>QUANTIDADE: </p>


<br><br><br>

<h4>Sprint</h4>
<ul style="color: tomato;">
  <li style="color: green;">Ao salvar verificar se a lista está vazia, caso verdadeiro retorne erro</li>
  <li style="color: green;"><s>Limpar todos os campos após clicar no botão "Criar"</s></li>
  <li style="color: green;"><s>Criar validação: Nenhum campo pode estar vazio</s></li>
  <li>Criar validação para <b>adicionar data agendada</b>
    <ul><br>

      <ul>
        <b>Para data de retirada</b>
        <li style="color: green;"><s>A data de inicio não pode ser menor que a data atual do sistema</s></li>
        <li style="color: green;"><s>Ao inserir a data de inicio o mesmo valor deve ser adicionado na data fim</s></li>
      </ul>


      <ul>
        <b style="color: green;">Para de devolução</b>
        <li style="color: green;"><s>A data fim não pode ser menor que a data de início</s></li>
      </ul>

      <ul>
        <b>Para hora de devolução</b>
        <li style="color: green;"><s>Se a hora de devolução for menor que a hora de retirada então a devolução não é no mesmo dia. Para isso</s>
          <ul>
            <li style="color: green;"><s>o sistema deve colher as datas de retirada e data de devolução, se caso</s>
              <ul>

                <li style="color: green;"><s>as duas foram iguais então o sistema deve:</s>
                  <ul>
                    <li style="color: green;"><s>Verificar em que dia da semana cai esta data, se caso:</s>
                      <ul>
                        <li style="color: green;"><s>Cair na sexta-feira - o Sistema deve modificar a data de devolução para a próxima segunda-feira (+ 3 dias)</s></li>
                        <li style="color: green;"><s>Se cair entre segunda-feira até quinta-feira o sistema deve modificar a data de devolução para o dia seguinte</s></li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li style="color: green;">
                  <s>
                    a data de devolução for maior e diferente da data de retirada (ou seja, a devolução não é para o mesmo dia) então o sistema nãi faz nada
                      e pode computar o valor inserido na data de devolução normalmente.
                  </s>
                </li>

              </ul>
            </li>
          </ul>
        </li>
      </ul>


      <li style="color: green;"><s>Não pode uma data de devolução ser menor que a data de retirada</s></li>
      <li style="color: green;"><s>Não pode fazer um agendamento com datas anteriores ao dia atual</s></li>
      <li style="color: green;">
        <s>
          Se caso a hora de devolução for menor que a hora de inicio o sistema deve alterar a data de devlução
          para o dia seguinte pega referenciando a data de início
        </s>
      </li>


    </ul>
  </li>
  <li>Criar validação para <b>adicionar equipamento</b>:
      <ul>
        <li style="color: green;"><s>Não pode adicionar um equipamento sem quantidade</s></li>
        <li style="color: green;"><s>Não pode adicionar uma quantidade sem equipamento</s></li>
        <li style="color: green;"><s>Não pode adicionar o mesmo equipamento 2x</s></li>
        <li style="color: green">
          <s>Validade a quantidade solicitada ao adicionar com o estoque disponível, caso não tiver disponível emita o aviso
            e não deixa passar o formulário</s>
          <ul>
            <li><s>Data início: 01/jun/2024</s></li>
            <li><s>Data término: 04/jun/2024</s></li>
          </ul>
        </li>
      </ul>
  </li>
  <li style="color: green;">
    <s>Liberar o campo 'sobrenome' na classe eventual.compoent.ts quando o backend estiver ajustado</s>
  </li>
  <li style="color: green;">
    <s>Tratar do [option] 'Outros' => Ao ser selecionado junto com a quantidade, dentro da tabela de equipamentos
      deve aparecer um input para o usuário fornecer a descrição do equipamento. <br>
      Salve este valor no banco e forneça um aviso "Este equipamento não será monitorado no painel de estoque.
      para isso adicione esse novo equipamentos em Configurações > Adicionar novo equipamento"</s>
      <ul>
        <li><s>Data início: maio/2024</s></li>
        <li><s>Data término: 05/jun/2024</s></li>
      </ul>
  </li>
  <li style="color: green;">
    <s>
      Ao dar submit para criar a reserva, o sistema precisa fazer uma nova busca dos dados e comparação novamente para
      saber se nesse meio tempo teve alteração no estoque. Se sim deve sinalizar o equipamento esgotado e notificar
    </s>
    <ul>
      <li>
        <s>
          Cria no backend um validador de quantidade de estoque, que antes de salver no banco ele precisa realizar
          uma última verificação de disponibilidade. Caso não tenha deve lançar uma exception
        </s>
      </li>
    </ul>
    <ul>
      <li><s>Data início: 05/06/2024</s></li>
      <li><s>Data término: 06/06/2024</s><li>
    </ul>
  </li>

  <li style="color: green;">
    <s>Limpar a lista de equipamentos visual -  Quando o submit der certo limpe a lista.</s>
    <ul>
      <li><s>Data início: 05/06/2024</s></li>
      <li><s>Data término: 06/06/2024</s><li>
    </ul>
  </li>

  <li style="color: green;">
    <s>Criar um classe de sistema de erros de logs com com "nome da funcionalidade e código de erro "er0001" "</s>
    <ul>
      <li><s>Data início: 05/06/2024</s></li>
      <li><s>Data término: 06/06/2024</s><li>
    </ul>
  </li>

  <li style="color: green;">
    <s>
      Aplicar o regex nos campos impust e criar validações para os campos (Verifique também a capacidade máxima de caracteres
      definidas nas tabelas)
    </s>
    <ul>
      <li><s>Data início: 07/06/2024</s></li>
      <li><s>Data término: 07/06/2024</s><li>
    </ul>
  </li>

  <li style="color: blue;">
    A hora de retirada não pode ser igual a hora de devolução
    <ul>
      <li>Data início: </li>
      <li>Data término: <li>
    </ul>
  </li>



</ul>

