
<div>
    <h3>Reservas Múltiplas</h3>

    <form style="margin-bottom: 7em;" (ngSubmit)="processForm()" [formGroup]="formValidation" #formDir="ngForm">

      <label for="responsavel">Nome</label> &nbsp;
      <input type="text" name="nome" formControlName="nome" required maxlength="40">

      <br>

      <label for="sobrenome">Sobrenome</label> &nbsp;
      <input #valid type="text" name="sobrenome" formControlName="sobrenome" required maxlength="40">

      <br>

      <label for="setor">Setor</label> &nbsp;
      <input #valid type="text" name="setor" formControlName="setor" required maxlength="40">

      <br><br>

        <table>

            <thead style="background-color: #f7f5f5;">
                <th>Horas Múltiplas</th>
            </thead>

            <tbody>

              <tr>
                <td><label for="dataRetirada">Data início:</label></td>
                <td><input #valid type="date" formControlName="dataRetirada" required></td>


                <td><label for="hr-agendamento">Hora início:</label></td>
                <td>
                  <select #valid name="horaRetirada"  formControlName="horaInicioSelect" required>
                    <option name="horaRetirada" *ngFor="let option of optionsHours" [value]="option.valor">{{ option.descricao }}</option>
                  </select>
                </td>


                <td rowspan="2" style="padding-left: 10px;">
                  <button (click)="adicionarAgenda($event)" style="height: 70px">Adicionar</button>
                </td>
              </tr>

              <tr>
                <td><label for="dataDevolucao">Data fim:</label></td>
                <td><input #valid type="date" formControlName="dataDevolucao" required></td>
                <td><label for="hr-agendamento">Hora fim:</label></td>
                <td>
                  <select name="horaDEvolucao" formControlName="horaDevolucaoSelect" required>
                    <option name="horaRetirada" *ngFor="let option of optionsHours" [value]="option.valor">{{ option.descricao }}</option>
                  </select>
                </td>

              </tr>

            </tbody>

        </table>

        <br>

        <!-- Tabelas de exibição das datas - template -->
        <table id="table-datas">
          <thead>
            <th style="width: 12.7em;">Retirada</th>
            <th>Devolução</th>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">
                <ul>
                  <!-- template -->
                  <li id="template-li-dates" class="row"
                  *ngFor="let agenda of listaAgendaApresentacao; let i = index" [attr.data-id]="agenda.id">

                    <div class="col-4 pl-0 pre-agendamento">
                      {{agenda.dataRetirada | date: 'dd/MM/yyyy'}} às {{agenda.horaRetirada}}
                    </div>
                    <div class="col-5 pre-agendamento">
                      {{agenda.dataDevolucao | date: 'dd/MM/yyyy'}} às {{agenda.horaDevolucao}}
                    </div>
                    <div class="col-3">
                      <div class="row justify-content-between">
                        <img class="position-img" src="assets/icons/accept-icon-teste1.png" alt="Ícone 1">
                        <span (click)="removerAgenda($event)" class="delete">x</span>
                      </div>
                    </div>

                  </li>
                  <!-- template -->
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <br><br><br>

        <table id="table-adicionar">
            <tr>
              <td>
                <label for="equipamento">Equipamento</label>
                <select name="equipamento">
                  <option value=""></option>
                  <option value="-- select --">-- select --</option>  <CONTINUAR A CONFIGURAÇÃO AQUI>
                </select>
              </td>
              <td>
                <label for="quantidade">Quantidade</label>
                <select  name="selectedOptionListaQuantidade">
                    <option value="-- select --">-- select --</option>
                </select>
              </td>
              <td>
                <button>Adicionar</button>
              </td>

            </tr>

        </table>

        <br>


        <table id="table-equipamento">
            <thead>
              <th>Equipamento</th>
              <th>Quantidade</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <ul>
                    <!-- template -->
                    <li id="template-li" class="row">
                      <td class="col"></td>
                      <td class="col-6">
                        <div class="row justify-content-between">
                            <span></span>
                            <span class="delete">x</span>
                        </div>
                      </td>
                    </li>
                    <!-- template -->
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>



      <button type="submit" style="width: 150px; margin-block-start: 50px;">Criar</button>
      <br>

    </form>



</div>



<!-- criada -->
    <!-- executando -->
    <!-- finalizada -->
    <!-- rollback -->

<table>
  <thead>
    <tr class="left;" style="padding: 7pt;"><th colspan="3">Sprints</th></tr>
    <tr>
      <th class="left;">Sprint</th>
      <th class="left;">Iniciado</th>
      <th class="left;">Finalizado</th>
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <td>
         Aguardando ...
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
