


<app-radar></app-radar>

<h3>Agendadas para hoje</h3>

 <div *ngFor="let reserva of reservas">

  <div class="row reserva-item" style="background-color: #f7f7e3; margin: 0 20px 30px 20px;">

    <div *ngFor="let data of reserva.agenda" class="col-12" style="background-color: rgb(231, 229, 229); padding: 10px;">
      <div>
        <span style="font-size: 15pt; font-weight: bold;">
          {{ horaRetiradaFormatter }}
        </span>  &nbsp;&nbsp;&nbsp;&nbsp;

        <span style="font-weight: bold; color: rgb(13, 179, 13);">
          {{ data.dataDevolucao | date:'dd/MM' }} - {{ horaDevolucaoFormatter }}
        </span>
    </div>


    </div>

    <!-- 1° column -->

    <div style="padding: 10px;" class="col-3">

      <span><b>{{ reserva.responsavel }}</b></span>&nbsp;&nbsp;
      <div *ngFor="let equipamento of reserva.equipamentos" class="row">
        <div class="col-12">
          <span class="d-inline-block"><b>{{ equipamento.descricao }}</b></span>;
        </div>
      </div>
    </div>


    <!-- 2° Column -->
    <div  style="padding: 10px; /*background-color: tomato;*/" class="col-2">
      <span *ngFor="let equipamento of reserva.equipamentos">
        <span class="d-inline-block">Quantidade:</span> <br>
        <span><b>{{ equipamento.quantidade }}</b></span>
      </span>
    </div>

    <!-- 3° Column -->

    <div  style="padding: 10px;" class="col-2">
      <span>Tipo de reserva:</span> <br>
      <span><b>{{ reserva.tipoReserva }}</b></span>


    </div>

    <div style="padding: 10px; /*background-color: aquamarine;*/" class="col-2">
      <ng-container *ngIf="reserva.recorrenciaDeToda; else emptyData">
        <span>Recorrência:</span> <br>
        <!-- <span>Toda segunda-feira</span> -->
        <span><b>{{ reserva.recorrenciaDeToda }}</b></span>
      </ng-container>
      <ng-template #emptyData><span>Recorrência: *</span></ng-template>
    </div>

    <div class="col-3" style="padding: 10px;">
      <span>Setor</span>  <br>
      <span><b>{{ reserva.setor }}</b></span>
    </div>



  </div>


</div>

<p>precisa fazer refresh na página a cada nova reserva adicionada</p>






<table>
  <thead>
    <tr class="left;" style="padding: 7pt;"><th colspan="3">Sprints</th></tr>
    <tr>
      <th class="left;">Sprint</th>
      <th class="left;">Iniciado</th>
      <th class="left;">Finalizado</th>
    </tr>
  </thead>
  <tbody>
    <!-- criada -->
    <!-- executando -->
    <!-- finalizada -->
    <tr class="finalizada">
      <td>
          Construir o radar, deixar o esquelo pronto
      <td>24/05/2024 - 14:38</td>
      <td>24/05/2024 - 15:39</td>
    </tr>
    <tr class="executando">
      <td>
          Carregar o estoque de reserva atrelado a cada equipamento. 
      <td>24/05/2024 - 15:42</td>
      <td>Realizando...</td>
    </tr>

    <tr class="criada">
      <td>
        O sistema angular precisa ficar escutando esta lista de 
        estoque se ela sofre alteração no estoque, e, para cada alteração ela deve atualizar os dados imediatamente
 

      </td>
      <td>??</td>
      <td>??</td>
    </tr>
    
    <tr class="criada">
      <td>
          Para cada reserva o sistema deve observar o número de equipamentos solicitado, e para cada reserva
          o sistema deve apresentar a quantidade restante disponível

      </td>
      <td>??</td>
      <td>??</td>
    </tr>

    <tr class="criada">
      <td>
          Atribuir a cor tomato quando restar apenas 1 equipamenmto em estoque restante
      </td>
      <td>??</td>
      <td>??</td>
    </tr>



  </tbody>
</table>
