


<div>
  <table style="border: 1px solid lightgray; width: 600px; margin: 30px 0 50px 0;">
    <th colspan="3">Radar</th>

    <tbody>
      <th>Notebook</th>
      <th>Datashow</th>
      <tr>
        <td style="font-size: 25pt; font-weight: bold;">5</td>
        <td style="font-size: 25pt; font-weight: bold;">5</td>
      </tr>
      <tr>
        <td>Disponível</td>
        <td>Disponível</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Agendadas para hoje</h3>

 <div *ngFor="let reserva of reservas">

  <div class="row reserva-item" style="background-color: #f7f7e3; margin: 0 20px 30px 20px;">

    <div *ngFor="let data of reserva.agenda" class="col-12" style="background-color: rgb(231, 229, 229); padding: 10px;">
      <div>
        <span style="font-size: 15pt; font-weight: bold;">
          {{ horaRetiradaFormatter }}
        </span>  &nbsp;&nbsp;&nbsp;&nbsp;

        <span style="font-weight: bold; color: rgb(13, 179, 13);">
          {{ data.dataDevolucao | date:'dd/MM' }} - {{ horaDevolucaoFormatter }}
        </span>
    </div>


    </div>

    <div style="padding: 10px;" class="col-4">
      <span>{{ reserva.responsavel }}</span>&nbsp;&nbsp;
      <span>{{ reserva.setor }}</span>

    </div>



    <div  style="padding: 10px;" class="col-3">
      <span>&nbsp;&nbsp;&nbsp;&nbsp;Tipo: {{ reserva.tipoReserva }}</span>
      <ng-container *ngIf="reserva.recorrenciaDeToda; else emptyData">
        <span>Recorrência: {{ reserva.recorrenciaDeToda }}</span>
      </ng-container>
      <ng-template #emptyData><span>Recorrência: *</span></ng-template>
    </div>

      <div class="col-5">
        <div *ngFor="let equipamento of reserva.equipamentos" style="padding: 10px; " class="row">
          <div class="col-12">
            <span class="d-inline-block">Equipamento: {{ equipamento.descricao }}</span>
            <span class="d-inline-block">Quantidade: {{ equipamento.quantidade }}</span>
          </div>
        </div>
      </div>

  </div>


</div>

<p>precisa fazer refresh na página a cada nova reserva adicionada</p>
