<!-- reservas.component.html -->
<table>
    <thead>
      <tr>
        <th>Responsavel</th>
        <th>Setor</th>
        <th>Tipo</th>
        <th>Data empréstimo</th>
        <th>Hora do empréstimo</th>
        <th>Data devolução</th>
        <th>Hora devolução</th>
        <th>Recorrência</th>
        <th>Equipamentos</th>
        <!-- Adicione mais cabeçalhos conforme necessário -->
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.responsavel }}</td>
        <td>{{ reserva.setor }}</td>
        <td>{{ reserva.tipoReserva }}</td>

        <td *ngFor="let data of reserva.agenda">{{ data.dataRetirada }}</td>

        <td *ngFor="let data of reserva.agenda">{{ data.horaRetirada }}</td>

        <td *ngFor="let data of reserva.agenda">{{ data.dataDevolucao }}</td>

        <td *ngFor="let data of reserva.agenda">{{ data.horaDevolucao }}</td>

        <!-- para campo vazio -->
        <td>
          <ng-container *ngIf="reserva.recorrenciaDeToda; else emptyData">
            {{ reserva.recorrenciaDeToda }}
          </ng-container>
          <ng-template #emptyData>*</ng-template>
        </td>

        <td *ngFor="let equipamento of reserva.equipamentos">
          {{ equipamento.descricao }} - {{ equipamento.quantidade }}   
        </td>

        <!-- Exiba mais dados conforme necessário -->
      </tr>
    </tbody>
  </table>
  
