
<div>
    <h4>Editar Reservas</h4>


    <div id="accordion">

        <div class="card">

            <div class="card-header" id="headingOne" style="background-color: #3082bf;">
                <h5 class="mb-0">
                <button style="color: #fff;" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Doutor Laércio - Cirurgia Geral
                </button>
                </h5>
            </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div>
                    <ul style="list-style: none; padding-left: 0; ">
                        <li style="float: left; margin-right: 10px; background-color: beige;"><a routerLink="/reservas/editar-change">Alterar</a></li>
                        <li style="float: left; background-color: beige;"><a href="#">Excluir</a></li>
                    </ul>
                </div>

                <br><br>

                <div style="display: flex; width: 900px;">
                  <div style="border: 1px solid lightgray; padding: 5px;">
                    <h5>Empréstimo</h5>
                    <p>
                      <b>Responsável:</b> Doutor Laércio <br>
                      <b>Setor:</b> Cirurgia Geral
                    </p>
                  </div>
                  <div style="border: 1px solid lightgray; padding: 5px;">
                    <h5>Equipamentos</h5>
                    <p>
                      <b>Equipamento:</b> Notebook <br>
                      <b>Quantidade:</b> 1
                      <br>
                      <b>Equipamento:</b> Datashow <br>
                      <b>Quantidade:</b> 1
                    </p>
                  </div>
                  <div style="border: 1px solid lightgray; padding: 5px;">
                    <h5>Agendamento</h5>
                    <p>
                      <b>Data reserva:</b> 02/04/2024 <br>
                      <b>Hora reserva:</b> 10:00
                      <br>
                      <b>Data devolução:</b> 02/04/2024 <br>
                      <b>hora devolução:</b> 1
                    </p>
                  </div>
                </div>
 

            </div>
          </div>
        </div>


        <br>



        <div class="card">

          <div class="card-header" id="headingTwo" style="background-color: #e68a73;">
            <h5 class="mb-0">
              <button style="color: #fff;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Jackeline - Segurança do trabalho
              </button>
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              
                <div>
                    <ul style="list-style: none; padding-left: 0;">
                        <li style="float: left; margin-right: 10px;"><a href="#">Alterar</a></li>
                        <li style="float: left;"><a href="#">Excluir</a></li>
                    </ul>
                </div>

                <br><br>

                Notebook (1) <br>
                Datashow (1)
                
            </div>
          </div>

        </div>


        <br>
        

        <div class="card">
          <div class="card-header" id="headingThree" style="background-color: #3082bf;">
            <h5 class="mb-0">
              <button style="color: #fff;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Doutor Jansem - Neurologia 
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                
                <div>
                    <ul style="list-style: none; padding-left: 0;">
                        <li style="float: left; margin-right: 10px;"><a href="#">Alterar</a></li>
                        <li style="float: left;"><a href="#">Excluir</a></li>
                    </ul>
                </div>

                <br><br>

                Notebook (1) <br>
                Datashow (1)

            </div>
          </div>
        </div>



    </div>


    Carregar do banco as reservas ativas/criadas

</div>