<div>
    <h3>Nova Reserva</h3>

    <form (ngSubmit)="processForm()">
        
        <label for="setor">Setor</label> &nbsp;
        <input type="text" name="setor" id="setor" [(ngModel)]="reservaDTO.setor">
    
        <br>
    
        <label for="responsavel">Responsável</label> &nbsp;
        <input type="text" name="responsavel" id="responsavel" [(ngModel)]="reservaDTO.responsavel">

        <br><br>

        <div style="border: 1px solid lightgrey; padding: 5px;">
            <span>Retirada - Devolução</span>
            &nbsp;
            <button (click)="listeningMulipleReservationButton()">Multiplas</button>  <!-- multiplas até 8x - a partir daí a reserva é anual -->
            &nbsp;

            <label for="anual">Recorrência anual</label> &nbsp;
            <input type="checkbox" name="anual" id="anual">

            <br><br>

            <label for="dt-agendamento">Data:</label> &nbsp;
            <input type="date" name="dt-agendamento" id=""> &nbsp;

            <label for="hr-agendamento">Hora retirada:</label> &nbsp;
            <input type="time" name="hr-agendamento" id=""> &nbsp;


            <label for="dt-agendamento">Data:</label> &nbsp;
            <input type="date" name="dt-agendamento" id=""> &nbsp;

            <label for="hr-agendamento">Hora devolução:</label> &nbsp;
            <input type="time" name="hr-agendamento" id=""> &nbsp;

            <br><br>

            <div style="border: 1px solid lightgrey; padding: 5px;">

                <span style="font-size: 18px; color: lightgray;">Formulário para Anual</span> 

                <br><br>

                
                <!-- Anual -->

                <label for="recorrencia">Recorrência</label> &nbsp;
                <select name="recorrencia" id="recorrencia">
                    <option value=""></option>
                    <option value="">Segunda-feira</option>
                    <option value="">Terça-feira</option>
                    <option value="">Quarta-feira</option>
                    <option value="">Quinta-feira</option>
                    <option value="">Sexta-feira</option>
                </select>

                &nbsp;

                <!-- 
                    Ao seleciona o select o sistema deve pegar e preencher automaticamente as datas de agendamento
                    e devolução automaticamente 
                 -->
                <label for="dt-agendamento">Data:</label> &nbsp;
                <input type="date" name="dt-agendamento" id=""> &nbsp;

                <label for="hr-agendamento">Hora retirada:</label> &nbsp;
                <input type="time" name="hr-agendamento" id=""> &nbsp;


                <label for="dt-agendamento">Data:</label> &nbsp;
                <input type="date" name="dt-agendamento" id=""> &nbsp;

                <label for="hr-agendamento">Hora devolução:</label> &nbsp;
                <input type="time" name="hr-agendamento" id=""> &nbsp;
            
            </div>

        </div>


        <br><br>

        <button>+ Adicionar</button> &nbsp; <!-- Evento para adicionar uma linha nova -->
        <button>Outro Equipamento</button>  <!-- abre input para digitar um novo equipamento que não consta na lista -->
    
        <br><br>

        <label for="equipamento">Equipamento</label> &nbsp;
        <input type="text" name="equipamento" id="equipamento"> &nbsp;

        <label for="quantidade">Quantidade</label> &nbsp;
        <select name="quantidade" id="quantidade">
            <option value=""></option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select>



        <br>
    <button type="submit" style="width: 150px; margin-block-start: 50px;">Criar</button>

        
    </form>


</div>
