<!-- <div style="color: red; border: 2px dashed tomato; padding: 8px; font-size: 16px;">
  <p>
    Aguardando para criar funcionalidade de equipamento. <br>
    Necessário trazer a lista de todos os equipamentos do backend e, <br>
    criar funcionalidade para adicionar equipamentos em sessão administrador.
  </p>
</div> -->

<div>

  <table>
    <tr>
      <td><label for="equipamento">Equipamento</label></td>
      <td>
        <select>
          <!-- <option value="">NOTEBOOK</option> -->
          <option></option>

        </select>
      </td>
      <td><label for="qtd">Quantidade</label></td>
      <td>
        <select name="" id="">.
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>

      </td>
      <td><button>Reservar</button></td>
    </tr>
  </table>

  <br>

  <table class="bordas">

    <thead>
      <th>Equipamento</th>
      <th>Quantidade</th>
    </thead>
    <tbody>
      <tr class="bordas">
        <td>NOTEBOOK</td>
        <td>1</td>
      </tr>
      <tr class="bordas">
        <td>NOTEBOOK</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
