<!-- <div style="color: red; border: 2px dashed tomato; padding: 8px; font-size: 16px;">
  <p>
    Aguardando para criar funcionalidade de equipamento. <br>
    Necessário trazer a lista de todos os equipamentos do backend e, <br>
    criar funcionalidade para adicionar equipamentos em sessão administrador.
  </p>
</div> -->

<div>

  <table>
    <tr>
      <td><label for="equipamento">Equipamento</label></td>
      <td>
        <select (change)="onOptionEquipamentoChange($event)" [(ngModel)]="selectedOptionListaEquipamento">
          <option value=""></option>
          <option *ngFor="let item of optionsListaEquipamento" [value]="item.valor">{{ item.descricao }}</option>

        </select>
      </td>
      <td><label for="qtd">Qtd.</label></td>
      <td>
        <select (change)="onOptionQuantidadeChange($event)" name="selectedOptionListaQuantidade" [(ngModel)]="selectedOptionListaQuantidade">
          <option name="selectedOptionListaQuantidade" *ngFor="let qtd of optionQuantidade" [value]="qtd.valor">{{ qtd.descricao }}</option>
        </select>

      </td>
      <td>
        <button (click)="adicionarEquipamento()" style="margin-left: 2pt;">Adicionar</button>
      </td>
    </tr>
  </table>

  <br>

  <table id="table-lista-equipamento" class="bordas">

    <thead>
      <th>Equipamento</th>
      <th>Quantidade</th>
    </thead>
    <tbody>
      <td id="td-data-container" colspan="2">
        <ul>
          <!-- template -->
          <li id="template-li">
            <td>Notebook</td>
            <td>1</td>
          </li>
          <!-- <li>Teste</li>
          <li>Teste</li>
          <li>Teste</li>
          <li>Teste</li>
          <li>Teste</li>
          <li>Teste</li>
          <li>Teste</li>
          <li>Teste</li>
          <li>Teste</li> -->
        </ul>
      </td>
    </tbody>
  </table>
</div>
