@import '../../../styles.scss';


table, th, tr, td {
    @extend .t_table;
}

table {
  margin: 20pt 0 40pt 0;
}

.descricao-equipamento th {
  width: 100.51px;
}

.quantidade {
  font-size: 18pt;
  font-weight: bold;
}


.loading {
  width: 30px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 30px;
}

.loading-status {
  width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 20px;
}
