<div>
  <table style="border: 1px solid lightgray; ">

    <thead>
      <!-- descrição -->
      <tr>
        <th colspan="9">Radar de equipamentos</th>
      </tr>
      <tr class="descricao-equipamento">
        <th>Notebook</th>
        <th>Datashow</th>
        <th>Extensão</th>
        <th>Lazer P.</th>
        <th>Webcan</th>
        <th>Microfone</th>
        <th>Cabo HDMI</th>
        <th>Cabo P10</th>
        <th>Cabo P2</th>
      </tr>
    </thead>

    <tbody class="radar-tbody">



      <!-- quantidade -->
      <tr class="quantidade">

        <!-- NOTEBOOK -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span  *ngIf="!loading">
            <span [style.color]="alertRadar(listaQuantidade[1]?.quantidade)">
              {{ listaQuantidade[1]?.quantidade || 0  }}
            </span>
           
          </span>


        </td>

        <!-- DATASHOW -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['DATASHOW'])">
              {{ listaQuantidade['DATASHOW'] }}
            </span> -->
          </span>

        </td>


        <!-- EXTENSAO -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['EXTENSAO'])">
              {{ listaQuantidade['EXTENSAO'] }}
            </span> -->
          </span>

        </td>


        <!-- LASER_POINTER -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['LASER_POINTER'])">
              {{ listaQuantidade['LASER_POINTER'] }}
            </span> -->
          </span>


        </td>

        <!-- WEB_CAM -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['WEB_CAM'])">
              {{ listaQuantidade['WEB_CAM'] }}
            </span> -->
          </span>

        </td>

        <!-- MICROFONE -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['MICROFONE'])">
              {{ listaQuantidade['MICROFONE'] }}
            </span> -->
          </span>

        </td>

        <!-- CABO_HDMI -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['CABO_HDMI'])">
              {{ listaQuantidade['CABO_HDMI'] }}
            </span> -->
          </span>

        </td>

        <!-- CABO_P10 -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['CABO_P10'])">
              {{ listaQuantidade['CABO_P10'] }}
            </span> -->
          </span>

        </td>

        <!-- CABO_P2 -->
        <td>
          <img *ngIf="loading" class="loading" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="alertRadar(listaQuantidade['CABO_P10'])">
              {{ listaQuantidade['CABO_P2'] }}
            </span> -->
          </span>
        </td>

      </tr>



      <!-- mensagem -->
      <tr>

        <!-- NOTEBOOK -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <span [style.color]="statusRadar(listaQuantidade[1]?.quantidade)">
              {{ status }}
            </span>
          </span>
        </td>


        <!-- DATASHOW -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['DATASHOW'])">
              {{ status }}
            </span> -->
          </span>
        </td>


        <!-- EXTENSAO -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['EXTENSAO'])">
              {{ status }}
            </span> -->
          </span>
        </td>


        <!-- LASER_POINTER -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['LASER_POINTER'])">
              {{ status }}
            </span> -->
          </span>
        </td>


        <!-- WEB_CAM -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['WEB_CAM'])">
              {{ status }}
            </span> -->
          </span>
        </td>


        <!-- MICROFONE -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['MICROFONE'])">
              {{ status }}
            </span> -->

          </span>
        </td>


        <!-- CABO_HDMI -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['CABO_HDMI'])">
              {{ status }}
            </span> -->
          </span>
        </td>


        <!-- CABO_P10 -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['CABO_P10'])">
              {{ status }}
            </span> -->
          </span>
        </td>


        <!-- CABO_P2 -->
        <td>
          <img *ngIf="loading" class="loading-status" src="assets/loading.gif" alt="Loading" />

          <span *ngIf="!loading">
            <!-- <span [style.color]="statusRadar(listaQuantidade['CABO_P2'])">
              {{ status }}
            </span> -->
          </span>
        </td>

      </tr>


    </tbody>
  </table>
</div>


<img class="loading" src="assets/loading.gif" alt="Loading" />




