<div>
  <table style="border: 1px solid lightgray; ">

    <thead>
      <!-- descrição -->
      <tr>
        <th colspan="9">Radar</th>
      </tr>
      <tr class="descricao-equipamento">
        <th>Notebook</th>
        <th>Datashow</th>
        <th>Extensão</th>
        <th>Lazer P.</th>
        <th>Webcan</th>
        <th>Microfone</th>
        <th>Cabo HDMI</th>
        <th>Cabo P10</th>
        <th>Cabo P2</th>
      </tr>
    </thead>

    <tbody class="radar-tbody">
<!-- 100.38px -->


      <!-- quantidade -->
      <tr class="quantidade">
        <!-- Notebook -->
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>

      </tr>
      <!-- mensagem -->
      <tr>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
      </tr>
    </tbody>
  </table>
</div>




