<div>
  <table style="border: 1px solid lightgray; ">

    <thead>
      <!-- descrição -->
      <tr>
        <th colspan="9">Radar</th>
      </tr>
      <tr class="descricao-equipamento">
        <th>Notebook</th>
        <th>Datashow</th>
        <th>Extensão</th>
        <th>Lazer P.</th>
        <th>Webcan</th>
        <th>Microfone</th>
        <th>Cabo HDMI</th>
        <th>Cabo P10</th>
        <th>Cabo P2</th>
      </tr>
    </thead>

    <tbody class="radar-tbody">
 


      <!-- quantidade -->
      <tr class="quantidade">
        <td>
          <span *ngIf="!loading">{{ listaQuantidade['NOTEBOOK'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['DATASHOW'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['EXTENSAO'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['LASER_POINTER'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['WEB_CAM'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['MICROFONE'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['CABO_HDMI'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['CABO_P10'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>

        <td>
          <span *ngIf="!loading">{{ listaQuantidade['CABO_P2'] }}</span>
          <span *ngIf="loading">
            <img class="loading" src="assets/loading.gif" alt="Loading" />
          </span>
        </td>









 

      </tr>



      <!-- mensagem -->
      <tr>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
        <td>Disponível</td>
      </tr>
    </tbody>
  </table>
</div>


<img class="loading" src="assets/loading.gif" alt="Loading" />




